body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    /* box-sizing: border-box; */
    background-color: #f7f0e9;
    transition: 0.6s;
}

h1 {
    font-size: 40px;
    color: #3d3935;
}

#container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    background-color: #ccc;
    cursor: pointer;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 34px;
    transition: 0.4s;
}

.slider::before {
    content: '';
    position:absolute;
    width: 26px;
    height: 26px;
    left: 4px;
    bottom: 4px;
    background-color:aquamarine;
    border-radius: 50%;
    transition: 0.4s;
}

input:checked + .slider {
    background: #b892ff;
}

input:checked + .slider::before {
    transform: translateX(26px);
}

.dark-mode {
    background-color: #0b0a14;
}


.dark-mode h1 {
    color: #f5f5f5;
}