* {
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;          /*căn giữa màn hình*/
    background: linear-gradient(50deg, #feadfe, #3939bdcc);

}

.container {
    position: relative;
    padding: 70px 40px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.container h2 {
    color: #111;
    margin-bottom: 40px;
    border-left: 5px solid #e91e63;
    padding-left: 10px;
    line-height: 1em;
    font-weight: 700;

}

.container .inputBox {
    position: relative;
    width: 300px;
    height: 40px;
    margin-bottom: 35px;
}

.container .inputBox:last-child {
    margin-bottom: 0;
}

.container .inputBox input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color:transparent;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
    color: #111;
    border: 1px soild #000;
    font-weight: 300;

}

.container .inputBox span {
    position: absolute;
    top: 1px;
    left: 1px;
    display:inline-block;
    padding: 10px;    
    font-size: 16px;
    color: #111;
    font-weight: 300;
    transition: 0.5s;
    pointer-events: none;
}

/* .container .inputBox input:focus ~ span, */
.container .inputBox input:valid ~ span {
    transform: translateX(-10px) translateY(-32px);
    font-size: 12px;
    font-weight: 500;
}

.container .inputBox input[type = "submit"] {
    background-color: #2196f3;
    color: #fff;
    border: none;
    max-width: 120px;
    cursor: pointer;
    font-weight: 500;
   
}

.container .inputBox input[type = "submit"]:hover {
    background-color: #e91e63;
}